/*
    Create a stylesheet for lingerie004681
*/

#ling1{
    height: 600px;
    width:  450px;
    border: 1px black solid;
    position: relative;
    background-image: url(../images/lingerie_004691b.png);
}

#pinkInfo{
    color: #dd66ae;
}

h1{
    font-size: 16pt;
    color: #313a9e;
    padding-left: 10px;
}

h2{
    font-size: 13pt;
    color: black;
    padding-left: 15px;
}

ul{
    color: #898ec8;   
}

p{
    color:#313a9e;
    font-size: 12pt;
    padding-left: 15px;
    font-weight: bold;
}
